<div  class="ui container">
    <h1>Willkommen!</h1>
    
    <div class="quiz-leitfaden">
      <div class="module">
        <div class="ui segment">
          <h2 class="ui header">Quiz <i class="question circle outline icon"></i></h2>
          <p>Testen Sie Ihr Wissen mit unseren interaktiven Quizfragen.</p>
          <a href="quiz-mode" class="ui primary button">Quiz Starten</a>
        </div>
      </div>
      <div class="module">
        <div class="ui segment">
          <h2 class="ui header">Leitfaden <i class="book icon"></i></h2>
          <p>Erhalten Sie detaillierte Anleitungen zur Installation und Verwendung von Selenium.</p>
          <a href="leitfaden" class="ui primary button">Leitfaden Ansehen</a>
        </div>
      </div>
    </div>
    
    <h2 class="ui header">Site-Funktionen</h2>
<div class="site-info">
  <div class="card">
    <h3>Interaktive Lerninhalte <i class="desktop icon"></i></h3>
    <p>Erkunden Sie unsere interaktiven Lerninhalte, um sich gezielt auf die A4Q Selenium Zertifizierungsprüfung vorzubereiten und Ihr Wissen zu festigen.</p>
  </div>
  <div class="card">
    <h3>Fortschrittsverfolgung <i class="chart line icon"></i></h3>
    <p>Verfolgen Sie Ihren Lernfortschritt und erhalten Sie gezielte Empfehlungen, um Ihre Vorbereitung für die A4Q Selenium Prüfung zu optimieren.</p>
  </div>
  <div class="card">
    <h3>Aktualisierte Inhalte <i class="sync alternate icon"></i></h3>
    <p>Profitieren Sie von regelmäßig aktualisierten Inhalten und bleiben Sie über neue Entwicklungen und Prüfungsinhalte der A4Q Selenium Zertifizierung auf dem neuesten Stand.</p>
  </div>
  <div class="card">
    <h3>Prüfungsvorbereitung Ressourcen <i class="book icon"></i></h3>
    <p>Entdecken Sie wertvolle Ressourcen und Tools zur Vorbereitung auf die A4Q Selenium Prüfung und maximieren Sie Ihre Erfolgschancen.</p>
  </div>
</div>
